@import '../../global.scss';

.choose-service-design{
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p{
        margin-top: 1rem;
    }

    .service-button-container{
        width: 50%;
        min-height: 200px;
        // border: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & .reserve-button{
            width:  180px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


@media (max-width:$media) {
    .choose-service-design{
        & h1{
            font-size: 1.2rem;
        }
        & p{
            margin-top: 1rem;
            font-size: .9rem;
            text-align: center;
        }
        .service-button-container{
            flex-direction: column;
        }
    }

}