@import '../../global.scss';

.header-design{
    height: 6vh;
    background-color: $french_blue;
}

.header{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & p, a{
        font-weight: 500;
        color: $black;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            color: $celestial_blue;
        }
    }
}

.logo{
    cursor: pointer;
    width: 12rem;
}


@media (max-width:$media){   
    .header{
        width: 100%;
        & p, a{
            font-size: .9rem;
        }
    }

    .logo{
        display: none;
    }
}